# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.xam-app.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kanye\RiderProjects\xam-app\.idea\.idea.xam-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
